// Default/fallback theme
:root {
	// Color theme
	$primary: white;
	--color-primary: #{$primary};
	$secondary: darken($primary, 6%);
	--color-secondary: #{$secondary};
	$accent: #fb923c;
	--color-accent: #{$accent};

	// Text colors
	$txt-primary: #24292f;
	--color-txt-primary: #{$txt-primary};
	$txt-secondary: $txt-primary;
	--color-txt-secondary: #{$txt-secondary};

	// Border colors
	$border-secondary: darken($primary, 10%);
	--color-border-secondary: #{$border-secondary};

	// Skeleton
	--color-skeleton: #{darken($primary, 10%)};
	--color-skeleton-anim: #{darken($primary, 15%)};

	// Other
	--color-bg-search: #{darken($primary, 7%)};
	--color-divider: rgb(189, 189, 189);
	--color-theme-toggle: #f5d67b;
}

:global[data-theme='dark'] {
	// Color theme
	$primary: #22272e;
	--color-primary: #{$primary};
	$secondary: lighten($primary, 4%);
	--color-secondary: #{$secondary};
	$accent: #fb923c;
	--color-accent: #{$accent};

	// Text colors
	$txt-primary: #e9e9e9;
	--color-txt-primary: #{$txt-primary};
	$txt-secondary: #e4e4e4;
	--color-t-secondary: #{$txt-secondary};

	// Border colors
	$border-secondary: lighten($primary, 8%);
	--color-border-secondary: #{$border-secondary};

	// Skeleton
	--color-skeleton: #{lighten($primary, 10%)};
	--color-skeleton-anim: #{lighten($primary, 15%)};

	// Other
	--color-bg-search: #{darken($primary, 5%)};
	--color-theme-toggle: #9ed5ef;
	--color-divider: #{lighten($primary, 10%)};
}
