@function to_hsl_string($color) {
  @return floor(hue($color)) floor(saturation($color)) floor(lightness($color));
}

@mixin theme-light {
  $focus_darken_amount: 6%;

  $primary: #ffa726;
  --p: #{to_hsl_string($primary)}; /* primary */
  --pf: #{to_hsl_string(darken($primary, $focus_darken_amount))};
  --pc: #{to_hsl_string(#ffffff)}; /* primary-content */

  $secondary: #eb460a;
  --s: #{to_hsl_string($secondary)}; /* secondary */
  --sf: #{to_hsl_string(darken($secondary, $focus_darken_amount))}; /* secondary-focused */
  --sc: #{to_hsl_string(#ffffff)}; /* secondary-content */

  $accent: #7572cb;
  --a: #{to_hsl_string($accent)}; /* accent */
  --af: #{to_hsl_string(darken($accent, $focus_darken_amount))}; /* accent-focused */
  --ac: #{to_hsl_string(#ffffff)}; /* accent-content */

  $neutral: #3d4451;
  --n: #{to_hsl_string($neutral)}; /* neutral */
  --nf: #{to_hsl_string(darken($neutral, $focus_darken_amount))}; /* neutral-focused */
  --nc: #{to_hsl_string(#ffffff)}; /* neutral-content */

  --b1: #{to_hsl_string(#ffffff)}; /* base-100 */
  --b2: #{to_hsl_string(#f2f2f2)}; /* base-200 */
  --b3: #{to_hsl_string(#e5e6e6)}; /* base-300  */
  --bc: #{to_hsl_string(#1f2937)}; /* base-content */

  --in: #{to_hsl_string(#2563eb)}; /* info */
  --inc: #{to_hsl_string(#ffffff)}; /* info-content */

  --su: #{to_hsl_string(#16a34a)}; /* success */
  --suc: #{to_hsl_string(#ffffff)}; /* success-content */

  --wa: #{to_hsl_string(#d97706)}; /* warning */
  --wac: #{to_hsl_string(#ffffff)}; /* warning-content */

  --er: #{to_hsl_string(#dc2626)}; /* error */
  --erc: #{to_hsl_string(#ffffff)}; /* error-content */
}

@mixin theme-dark {
  $focus_darken_amount: 6%;

  $primary: blue;
  --p: #{to_hsl_string($primary)};
  --pf: #{to_hsl_string(darken($primary, $focus_darken_amount))};
  --pc: #{to_hsl_string(#ffffff)};

  $secondary: #eb460a;
  --s: #{to_hsl_string($secondary)};
  --sf: #{to_hsl_string(darken($secondary, $focus_darken_amount))};
  --sc: #{to_hsl_string(#ffffff)};

  $accent: #7572cb;
  --a: #{to_hsl_string($accent)};
  --af: #{to_hsl_string(darken($accent, $focus_darken_amount))};
  --ac: #{to_hsl_string(#ffffff)};

  $neutral: #3d4451;
  --n: #{to_hsl_string($neutral)}; /* neutral */
  --nf: #{to_hsl_string(darken($neutral, $focus_darken_amount))}; /* neutral-focused */
  --nc: #{to_hsl_string(#ffffff)}; /* neutral-content */

  --b1: #{to_hsl_string(#ffffff)};
  --b2: #{to_hsl_string(#f2f2f2)};
  --b3: #{to_hsl_string(#e5e6e6)};
  --bc: #{to_hsl_string(#1f2937)};

  --in: #{to_hsl_string(#2563eb)};
  --inc: #{to_hsl_string(#ffffff)};

  --su: #{to_hsl_string(#16a34a)};
  --suc: #{to_hsl_string(#ffffff)};

  --wa: #{to_hsl_string(#d97706)};
  --wac: #{to_hsl_string(#ffffff)};

  --er: #{to_hsl_string(#dc2626)};
  --erc: #{to_hsl_string(#ffffff)};
}

:root {
  --rounded-box: 1rem;
  --rounded-btn: 0.3rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: normal;
  --btn-focus-scale: 0.95;
  --border-btn: 0;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme] {
  @include theme-light();
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include theme-dark();
  }
}

[data-theme='dark'] {
  @include theme-dark();
}
